<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': !+tab}" aria-current="page" (click)="tab = 0" routerLink="/navigator" [queryParams]="{'tab': 0}" >Income</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': tab == 1}" (click)="tab = 1" routerLink="/navigator" [queryParams]="{'tab': 1}">Outcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': tab == 2}" (click)="tab = 2" routerLink="/navigator" [queryParams]="{'tab': 2}">Loans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': tab == 3}" (click)="tab = 3" routerLink="/navigator" [queryParams]="{'tab': 3}">Investments</a>
    </li>
</ul>

<button type="button" class="btn btn-light" routerLink="">Home</button>

<table class="table" style="margin: auto; width: 1000px; text-align: center;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Acount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of transactionTypeFilter[tab]">
        <td>{{ getFullName(trans.name.first, trans.name.last) }}</td>
        <td>{{ counter(trans.address) }}</td>
      </tr>
    </tbody>
  </table>